<div
  _ngcontent-ng-c1332714693=""
  class="container mt-4 d-flex justify-content-center align-items-center"
>
  <div
    _ngcontent-ng-c1332714693=""
    class="bg d-flex flex-column align-items-center w-100"
  >
    <div
      _ngcontent-ng-c1332714693=""
      class="row featurette align-items-center w-100"
    >
      <div _ngcontent-ng-c1332714693="" class="col-12 col-md-6 text-center">
        <h2
          _ngcontent-ng-c1332714693=""
          class="featurette-heading fw-normal lh-1 mt-5"
        >
          CORSAIR VENGEANCE DDR5 32GB (2x16GB) DDR5 6000MHz CL30 AMD EXPO Intel
          XMP iCUE Memoria de Ordenador Compatible - Gris (CMK32GX5M2B6000Z30)
        </h2>
        <p _ngcontent-ng-c1332714693="" class="lead">
          <strong _ngcontent-ng-c1332714693="">Precio:</strong
          ><strong _ngcontent-ng-c1332714693="">115€</strong>
        </p>
        <p _ngcontent-ng-c1332714693="">
          <span _ngcontent-ng-c1332714693="" class="badge bg-success"
            >Disponible</span
          >
        </p>
        <!----><button
          _ngcontent-ng-c1332714693=""
          class="btn btn-primary mb-3"
        >
          Comprar
        </button>
        <p _ngcontent-ng-c1332714693="">
          <strong _ngcontent-ng-c1332714693=""
            >Artículo revisado y en perfecto estado.</strong
          >
          Este producto ha sido cuidadosamente inspeccionado y está
          completamente funcional, con todos sus componentes en óptimas
          condiciones. No presenta ningún daño o desgaste visible y se encuentra
          listo para su uso inmediato. Ideal para quienes buscan calidad y
          fiabilidad. ¡Una excelente oportunidad de compra!
        </p>
      </div>
      <div _ngcontent-ng-c1332714693="" class="col-12 col-md-6 mt-3 mb-3">
        <div _ngcontent-ng-c1332714693="" class="img-container">
          <img
            _ngcontent-ng-c1332714693=""
            class="img-fluid rounded-3"
            style="
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: center;
            "
            alt="CORSAIR VENGEANCE DDR5 32GB (2x16GB) DDR5 6000MHz CL30 AMD EXPO Intel XMP iCUE Memoria de Ordenador Compatible - Gris (CMK32GX5M2B6000Z30)"
            src="https://m.media-amazon.com/images/I/71MfdgsWMFL._AC_SX679_.jpg"
          />
        </div>
      </div>
    </div>
  </div>
  <!---->
</div>
<!-- Información adicional debajo de la tarjeta -->
<div class="mt-5 text-center p-4 bg-light rounded-3 mb-3">
  <p>
    <strong
      >Si tienes alguna duda, puedes contactar con nuestro soporte.</strong
    >
  </p>
  <p>
    Nuestro equipo está disponible para ayudarte en cualquier momento. Si
    necesitas más información o tienes alguna pregunta, no dudes en ponerte en
    contacto con nosotros.
  </p>
  <a href="mailto:support@tusitioweb.com" class="btn btn-outline-primary"
    >Contactar con soporte</a
  >
</div>
