.bg{
    background-color: rgb(248, 249, 250);
    width: 600px;
   height: 615px;
    border-radius: 15px;
    text-align: center;
}

@media(max-width:600px){
    .bg{
        width: 320px;
        height: 615px;
    }
}