<div class="container mt-4">

    <div class="bg">
    <h2 class="text-center  mb-3">Nuestra sección de artículos</h2>
    <p class="text-center fw-3">
        Estos artículos están en <strong>excelente estado</strong> y te ofrecen una <strong>alternativa más económica</strong>  sin comprometer su valor. Desde tecnología y electrodomésticos hasta artículos para el hogar y mucho más, <strong>todos a precios reducidos.</strong> 
    </p>

    </div>


    <div class="row">
         @for (item of articulos; track $index) {
        <div class="col-lg-4 col-md-6 mb-4 text-center">
            <div class="card   " >
                <img [src]="item.img" class="card-img-top" alt="..."  style="height: 300px; width: 100%; object-fit: contain;">
                <div class="card-body">
                    <h5 class="card-title" > {{truncateText(item.nombre,90)}}</h5>
                    <p class="badge bg-success">Revisado</p>
                    <p> <strong>Precio</strong> {{item.precio}} €</p>
                    <button (click)="verArticulo(item.id)" class="btn btn-primary">Ver más...</button>
                </div>
            </div>
        </div>
        }
       
    </div>
</div>


