<div class="container ">
    <div class="p-5 text-center bg rounded-3 mt-4 mb-4">
      <h2 class="featurette-heading fw-normal fw-5" style="font-size: 36px; color: #333;">TopLotes</h2>
      <p class="col-lg-8 mx-auto fs-5 text-muted">
        Bienvenido a TopLotes. Somos una empresa española de distribución de devoluciones de Amazon en  <code>España</code> ,
        <code> Italia </code> , <code> Alemania </code> , <code> Portugal </code> , y otros países europeos. 
      </p>
      <p>Hacemos envíos de productos de devoluciones de Amazon España sin revisar en el estado original en que los
        usuarios las realizan y las comercializamos a un coste muy bajo, hasta un 80%
        más baratas que su valor original en Amazon.
      </p>
      <div class="d-inline-flex gap-2 mb-5">
        <button [routerLink]="['/politicas-envio']" routerLinkActive="router-link-active"  class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill" type="button">
          Política de Envío
        </button>
      </div>
  
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading fw-normal lh-1">Comprar Lotes de Devoluciones de Amazon <span
              class="text-body-secondary">España</span></h2>
          <p class="mt-4">En esta guía encontrarás toda la información relevante sobre comprar devoluciones de Amazon en
            España,
            este gigante que en nuestro país aumentó sus ventas un 67% durante el confinamiento.</p>
  
          <h2>¿Qué es la compra de devoluciones de Amazon?</h2>
          <p>Amazon ha aumentado considerablemente sus ventas en España, y en todo el mundo.
            Si has comprado en su plataforma sabrás que tienen una generosa política de devoluciones.
          </p>
          <p>Cualquier cliente de Amazon puede devolver su artículo hasta 30 días después de la compra, por las razones
            que este estime,
            incluso sin especificarlas. Como resultado, miles de personas devuelven mercancía sin abrir, o con un daño
            superficial
            (ralladuras o pequeños defectos en el esmalte, etc.).
          </p>
          <p>
            Ante un volumen de ventas tan elevado, esta política de devoluciones podría significar un problema
            de rentabilidad para la compañía y desencadenar incluso un problema medioambiental, pues la generación
            de desechos sería realmente desproporcionada. La buena noticia es que Amazon ha tomado cartas en el
            asunto para ofrecer una alternativa rentable y sostenible.
          </p>
  
          <p>Para evitar que los almacenes se saturen, los productos que se devuelven a compañías como Amazon pasan a
            espacios
            donde las devoluciones se empacan y se envían a diferentes socios de liquidación, con un precio muy reducido.
            Dichos
            socios, venden estas devoluciones en diversos formatos, generalmente a través de grandes lotes de devoluciones
            de Amazon.
          </p>
  
          <p>Resumiendo, los lotes de devoluciones de Amazon consisten en una política de reducción de pérdidas y de
            huella ambiental que se
            basa en la economía circular, y que es gestionada por grandes empresas de liquidación en asociación con la
            compañía de Jeff Bezos.
          </p>
  
  
        </div>
  
        <div class="col-md-5">
          <img src="amazon.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto  mb-5" width="500"
            height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
            preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>Placeholder</title>
  
            <img src="6.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto mt-5" width="500"
            height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
            preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>Placeholder</title>
        </div>
  
       <h2 class="mt-5">Ventajas de comprar lotes de devoluciones de Amazon</h2>
  
       <p>El aumento de la rentabilidad es, sin lugar a dudas, la mayor ventaja que puedes obtener al comprar devoluciones de Amazon. 
        La reventa de artículos procedentes directamente de los lotes de devoluciones de Amazon aumenta los beneficios que puedes recibir
         por producto, ya que su coste es muy inferior al original.
        </p>
  
        <p>
          Mientras Amazon reduce sus pérdidas, sus socios en grandes almacenes aumentan su volumen de negocios por devoluciones y el comprador 
          final del lote devuelto lo adquiere a un menor precio. Se trata de una relación win to win en la que además se reduce considerablemente 
          la huella ambiental.
        </p>
  
        <p>A mayor volumen de compra, mayor reducción de precios. Con mucho espacio para guardar lotes puedes conseguir un descuento de hasta el 80% 
          con respecto al valor real de los productos.
        </p>
  
        <p>
          Otra ventaja es que puedes comprar devoluciones de Amazon online, sin moverte de casa. Desde luego, las compras grandes reducen tus costes de envío.
           Por otra parte, la variedad de mercancía es amplia y bebe directamente del stock de Amazon.
        </p>
  
        <h2>Almacén de productos no reclamados: pallets de Amazon</h2>
  
        <p class="mb-4">Tanto en nuestro almacén, físicamente, como en nuestra web online, podrás comprar productos no reclamados y 
          productos devueltos a Amazon, los mejores pallets de Amazon del mercado.</p>
  
      </div>
  
      <div class="d-flex justify-content-center gap-4  mb-4">
      <button class="btn btn-primary">¿Cómo son los productos que llegan y en qué estado están?</button>
      <button class="btn btn-primary">¿Qué tipo de productos de devoluciones hay en venta?</button>
      </div>
      <div class="d-flex justify-content-center gap-4">
      <button class="btn btn-primary">¿Qué condiciones tienen los envíos?</button>
      <button class="btn btn-primary">¿A qué partes lugares se realizan envíos ?</button>
      </div>
  
    </div>
  </div>