<footer class="text-body-secondary py-2 bg-body-tertiary">
  <div class="container text-center">
      <p class="mb-2">
          © {{ ayoActual }} Todos los derechos reservados.
      </p>
      <p class="mb-1">
          Si tienes alguna pregunta o necesitas soporte, por favor <a [routerLink]="['/contacto']" routerLinkActive="router-link-active">contáctanos</a>. Estamos aquí para ayudarte con cualquier problema o consulta que puedas tener.
      </p>
      <p class="mb-1">
          <a [routerLink]="['/envio']" routerLinkActive="router-link-active">Políticas de envío</a> | 
          <a [routerLink]="['/devoluciones']" routerLinkActive="router-link-active">Políticas de devoluciones</a>
      </p>


      <!--
      <p class="mb-2">
          Síguenos en redes sociales para estar al tanto de nuestras últimas noticias y ofertas:
      </p>
      <div class="d-flex justify-content-center mt-4 mb-4">
          <a href="https://instagram.com/tuperfil" target="_blank" rel="noopener noreferrer">
              <img src="insta30.png" alt="Instagram" class="me-5" width="25" height="25">
          </a>
          <a href="https://youtube.com/tu-canal" target="_blank" rel="noopener noreferrer">
              <img src="youtube.png" alt="YouTube" class="me-5" width="25" height="25">
          </a>
          <a href="https://wa.me/tuNumeroDeTelefono" target="_blank" rel="noopener noreferrer">
              <img src="waa.png" alt="WhatsApp" class="me-5" width="25" height="25">
          </a>
      </div>

      -->
  </div>
</footer>