<div class=" container mt-4 mb-4">
    <div class="p-5 text-center bg-body-tertiary rounded-3 ">
      <svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px" fill="#000000">
        <path
          d="M224.12-161q-49.12 0-83.62-34.42Q106-229.83 106-279H40v-461q0-24 18-42t42-18h579v167h105l136 181v173h-71q0 49.17-34.38 83.58Q780.24-161 731.12-161t-83.62-34.42Q613-229.83 613-279H342q0 49-34.38 83.5t-83.5 34.5Zm-.12-60q24 0 41-17t17-41q0-24-17-41t-41-17q-24 0-41 17t-17 41q0 24 17 41t41 17ZM100-339h22q17-27 43.04-43t58-16q31.96 0 58.46 16.5T325-339h294v-401H100v401Zm631 118q24 0 41-17t17-41q0-24-17-41t-41-17q-24 0-41 17t-17 41q0 24 17 41t41 17Zm-52-204h186L754-573h-75v148ZM360-529Z" />
      </svg>
      <h1 class="text-body-emphasis">Contacta con Nosotros</h1>
      <p class="col-lg-8 mx-auto fs-5 text-muted">
        ¿Tienes preguntas sobre nuestros palets de devoluciones de Amazon o necesitas asistencia con tu pedido? <code>¡Estamos aquí para ayudarte!</code>
      
      </p>
      <p>¡Gracias por tu interés en PaleDirect! Esperamos poder asistirte pronto.
      </p>
      <p>En PaleDirect, nos enorgullecemos de ofrecer un servicio al cliente excepcional. Nuestro equipo de soporte está disponible para responder cualquier pregunta que puedas tener sobre nuestros productos, servicios o el proceso de compra. Ya sea que necesites más información sobre un producto específico, asistencia con un pedido existente o tengas alguna duda general, estamos listos para asistirte.</p>
     <img src="elpeluca.png" alt=""><br><br><br>
  
     <form>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Por favor, introduce tu correo electrónico</label>
        <input type="email" class="form-control text-center" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Tu correo">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label ">¿En qué te ayudamos?</label>
        <textarea type="texarea" class="form-control text-center" id="exampleInputPassword1" placeholder="Tu mensaje"></textarea> 
      </div>
      <button type="submit" class="btn  btn-outline-primary">Enviar</button>
    </form>
    </div>
   
  </div>