<div class="container">
    <div class="mt-1 text-center  rounded-4 bg ">
     <!--<h1 class="featurette-heading-intro  mt-4">¡Bienvenido a TopLotes!</h1>--> 

      
      <img src="vista2.png" class="img-intro" alt="imagen de cajas" style="width: 400px;">
      
      <div class="d-flex justify-content-center gap-4 mt-3 flex-wrap peq">
        <!-- Teléfono -->
        <div class="contact-item d-flex align-items-center">
          <a href="tel:+34123456789" style="text-decoration: none; color: inherit;">
            <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="#0d6efd"><path d="M796-120q-119 0-240-55.5T333-333Q231-435 175.5-556T120-796q0-18.86 12.57-31.43T164-840h147.33q14 0 24.34 9.83Q346-820.33 349.33-806l26.62 130.43q2.05 14.9-.62 26.24-2.66 11.33-10.82 19.48L265.67-530q24 41.67 52.5 78.5T381-381.33q35 35.66 73.67 65.5Q493.33-286 536-262.67l94.67-96.66q9.66-10.34 23.26-14.5 13.61-4.17 26.74-2.17L806-349.33q14.67 4 24.33 15.53Q840-322.27 840-308v144q0 18.86-12.57 31.43T796-120ZM233-592l76-76.67-21-104.66H187q3 41.66 13.67 86Q211.33-643 233-592Zm365.33 361.33q40.34 18.34 85.84 29.67 45.5 11.33 89.16 13.67V-288l-100-20.33-75 77.66ZM233-592Zm365.33 361.33Z"/></svg>
            <p class="text-body mb-0">Tel. y Whatsapp</p>
          </a>
        </div>
      
        <!-- Email -->
        <div class="contact-item d-flex align-items-center">
          <a href="mailto:contacto@toplotes.com" style="text-decoration: none; color: inherit;">
            <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="#0d6efd"><path d="M146.67-160q-27 0-46.84-19.83Q80-199.67 80-226.67v-506.66q0-27 19.83-46.84Q119.67-800 146.67-800h666.66q27 0 46.84 19.83Q880-760.33 880-733.33v506.66q0 27-19.83 46.84Q840.33-160 813.33-160H146.67ZM480-454.67 146.67-670v443.33h666.66V-670L480-454.67Zm0-66.66 330.67-212H150l330 212ZM146.67-670v-63.33V-226.67-670Z"/></svg>
            <p class="mb-0">contacto&#64;toplotes.com</p> <!-- Carácter @ escapado -->
          </a>
        </div>
      
        <!-- WhatsApp -->
        <div class="contact-item d-flex align-items-center">
          <a href="https://wa.me/+34671498473" style="text-decoration: none; color: inherit;" target="_blank">
            <svg aria-hidden="true" class="e-font-icon-svg e-fab-whatsapp" viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg" fill="#25D366" style="width: 35px; height: 35px; margin-right: 10px;">
              <path d="M380.9 97.1C339 55.1 283.2 32 223.9 32c-122.4 0-222 99.6-222 222 0 39.1 10.2 77.3 29.6 111L0 480l117.7-30.9c32.4 17.7 68.9 27 106.1 27h.1c122.3 0 224.1-99.6 224.1-222 0-59.3-25.2-115-67.1-157zm-157 341.6c-33.2 0-65.7-8.9-94-25.7l-6.7-4-69.8 18.3L72 359.2l-4.4-7c-18.5-29.4-28.2-63.3-28.2-98.2 0-101.7 82.8-184.5 184.6-184.5 49.3 0 95.6 19.2 130.4 54.1 34.8 34.9 56.2 81.2 56.1 130.5 0 101.8-84.9 184.6-186.6 184.6zm101.2-138.2c-5.5-2.8-32.8-16.2-37.9-18-5.1-1.9-8.8-2.8-12.5 2.8-3.7 5.6-14.3 18-17.6 21.8-3.2 3.7-6.5 4.2-12 1.4-32.6-16.3-54-29.1-75.5-66-5.7-9.8 5.7-9.1 16.3-30.3 1.8-3.7.9-6.9-.5-9.7-1.4-2.8-12.5-30.1-17.1-41.2-4.5-10.8-9.1-9.3-12.5-9.5-3.2-.2-6.9-.2-10.6-.2-3.7 0-9.7 1.4-14.8 6.9-5.1 5.6-19.4 19-19.4 46.3 0 27.3 19.9 53.7 22.6 57.4 2.8 3.7 39.1 59.7 94.8 83.8 35.2 15.2 49 16.5 66.6 13.9 10.7-1.6 32.8-13.4 37.4-26.4 4.6-13 4.6-24.1 3.2-26.4-1.3-2.5-5-3.9-10.5-6.6z"/>
            </svg>
            <p class="text-body mb-0">Canal de WhatsApp</p>
          </a>
        </div>
      </div>
 <!--      <div class="d-lg-inline mt-4 mb-4 ">
        <img src="insta30.png" alt="" class="me-3">
        <img src="youtube.png" alt="" class="me-3">
        <img src="waa.png" alt="" class="me-3">
        </div> -->
    

      <div class="d-inline-flex gap-2 mb-4 mt-4 btn">
        <button [routerLink]="['/tienda']" routerLinkActive="router-link-active"  class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill ms-2" type="button">
         Ver Lotes >> 
         <div class="logo">
         <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="M440-183v-274L200-596v274l240 139Zm80 0 240-139v-274L520-457v274Zm-80 92L160-252q-19-11-29.5-29T120-321v-318q0-22 10.5-40t29.5-29l280-161q19-11 40-11t40 11l280 161q19 11 29.5 29t10.5 40v318q0 22-10.5 40T800-252L520-91q-19 11-40 11t-40-11Zm200-528 77-44-237-137-78 45 238 136Zm-160 93 78-45-237-137-78 45 237 137Z"/></svg>
         </div>
        </button>
        <button [routerLink]="['/articulos']" routerLinkActive="router-link-active"  class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill" type="button">
          Ver tienda >> 
          <div class="logo">
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="M841-518v318q0 33-23.5 56.5T761-120H201q-33 0-56.5-23.5T121-200v-318q-23-21-35.5-54t-.5-72l42-136q8-26 28.5-43t47.5-17h556q27 0 47 16.5t29 43.5l42 136q12 39-.5 71T841-518Zm-272-42q27 0 41-18.5t11-41.5l-22-140h-78v148q0 21 14 36.5t34 15.5Zm-180 0q23 0 37.5-15.5T441-612v-148h-78l-22 140q-4 24 10.5 42t37.5 18Zm-178 0q18 0 31.5-13t16.5-33l22-154h-78l-40 134q-6 20 6.5 43t41.5 23Zm540 0q29 0 42-23t6-43l-42-134h-76l22 154q3 20 16.5 33t31.5 13ZM201-200h560v-282q-5 2-6.5 2H751q-27 0-47.5-9T663-518q-18 18-41 28t-49 10q-27 0-50.5-10T481-518q-17 18-39.5 28T393-480q-29 0-52.5-10T299-518q-21 21-41.5 29.5T211-480h-4.5q-2.5 0-5.5-2v282Zm560 0H201h560Z"/></svg>
          </div>
         </button>
        <button [routerLink]="['/about']" class="btn btn-outline-secondary btn-lg px-4 rounded-pill" type="button">
         Sobre nosotros
        </button>
        
      </div><br><br><br>
    </div><br>
  
    <h3 class="text-center">Productos destacados</h3>
    <div class="container text-center">

      <div class="row">
        
        <div  *ngFor="let item of paleDestacado"  class="col-lg-4 col-md-6 mb-4 ">
          <div *ngIf="paleDestacado" (click)="mirarPale(item)" class="card bg " >
            <img 
            [src]="item.vendido ? 'vendido.png' : 'pale.jpg'"
            data-holder-rendered="true"
            style="height: 300px; width: 100%; display: block;"
            alt="Imagen del pale">

            <div class="card-body bg " >
              <h3 class="featurette-heading fw-normal lh-1 mb-3 mt-3">{{item.nombre}} <span class="text-body-secondary"><br>[{{item.productos}} productos]</span></h3>
              <p class="lead"> {{item.nombre}} sin revisar procedente de Amazon Devoluciones</p>
              <p>Precio del pale {{item.precio}} €</p>
              <a
              [routerLink]="item.vendido ? null : ['/pale-details', item.id]"
              class="btn"
              [ngClass]="{
                'btn-primary': !item.vendido,
                'btn-secondary': item.vendido,
                'disabled': item.vendido,
              }"
              [attr.aria-disabled]="item.vendido ? true : null"
              tabindex="-1">
              {{ item.vendido ? 'Pale vendido' : 'Ver contenido' }}
            </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class=" text-center mt-4 mb-5 bg rounded-4">
      <h2 class=" p-5 text-body">Hacemos envíos de productos de devoluciones de Amazon España sin revisar en el estado original en que los usuarios las realizan y las comercializamos a un coste muy bajo, <code>hasta un 80% más baratas que su valor original en Amazon.</code> </h2>
     <div class="row featurette ">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">¡Descubre un mundo de oportunidades! <span class="text-muted">Al suscribirte</span></h2>
        <p class="lead">¡No te pierdas nuestras increíbles ofertas y los últimos lanzamientos! Suscríbete ahora para recibir actualizaciones
           exclusivas directamente en tu bandeja de entrada. Sé el primero en conocer nuestras promociones especiales y nuevos artículos. 
           ¡Únete a nuestra comunidad y disfruta de beneficios exclusivos!</p>

           <p class="lead">te garantizas acceso prioritario a nuestras ofertas más impresionantes y a los productos más innovadores.
             Imagina ser el primero en enterarte de descuentos imperdibles y de las últimas novedades que revolucionarán tu día a día. 
             ¡No dejes que nada se te escape!</p>
             <p class="lead"><code>¡Suscríbete ahora y recibe un 10% de descuento en tu primera compra!</code></p>
             <button [routerLink]="['/subcribe']" class="btn btn-primary btn-lg btn-sub ">Suscribe</button>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="intro1.png"  class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500"  data-holder-rendered="true" style="width: 500px; height: 500px;">
      </div>
    </div>
    </div>  
  </div>