<div class="container">
    <div class="mt-1 text-center  rounded-4 bg">
      <h1 class="text-body-emphasis mt-3">¡Bienvenido a TopLotes!</h1>


      <div class="d-flex justify-content-center gap-4 mt-3 flex-wrap">
        <!-- Teléfono -->
        <div class="contact-item d-flex align-items-center">
          <a href="tel:+34123456789" style="text-decoration: none; color: inherit;">
            <svg xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 -960 960 960" width="30px" fill="#000000" style="margin-right: 10px; ">
              <path d="M798-120q-125 0-247-54.5T329-329Q229-429 174.5-551T120-798q0-18 12-30t30-12h162q14 0 25 9.5t13 22.5l26 140q2 16-1 27t-11 19l-97 98q20 37 47.5 71.5T387-386q31 31 65 57.5t72 48.5l94-94q9-9 23.5-13.5T670-390l138 28q14 4 23 14.5t9 23.5v162q0 18-12 30t-30 12ZM241-600l66-66-17-94h-89q5 41 14 81t26 79Zm358 358q39 17 79.5 27t81.5 13v-88l-94-19-67 67ZM241-600Zm358 358Z"/>
            </svg>
            <p class="fw-bold mb-0">Teléfono:</p>
            <p class="mb-0">+34 123 456 789</p>
          </a>
        </div>
      
        <!-- Email -->
        <div class="contact-item d-flex align-items-center">
          <a href="mailto:contacto@toplotes.com" style="text-decoration: none; color: inherit;">
            <svg xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 -960 960 960" width="30px" fill="#000000" style="margin-right: 10px;">
              <path d="M160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h640q33 0 56.5 23.5T880-720v480q0 33-23.5 56.5T800-160H160Zm320-280L160-640v400h640v-400L480-440Zm0-80 320-200H160l320 200ZM160-640v-80 480-400Z"/>
            </svg>
            <p class="fw-bold mb-0">Email:</p>
            <p class="mb-0">contacto&#64;toplotes.com</p> <!-- Carácter @ escapado -->
          </a>
        </div>
      
        <!-- WhatsApp -->
        <div class="contact-item d-flex align-items-center">
          <a href="https://wa.me/+34987654321" style="text-decoration: none; color: inherit;" target="_blank">
            <svg aria-hidden="true" class="e-font-icon-svg e-fab-whatsapp" viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg" style="width: 30px; height: 30px; margin-right: 10px;">
              <path d="M380.9 97.1C339 55.1 283.2 32 223.9 32c-122.4 0-222 99.6-222 222 0 39.1 10.2 77.3 29.6 111L0 480l117.7-30.9c32.4 17.7 68.9 27 106.1 27h.1c122.3 0 224.1-99.6 224.1-222 0-59.3-25.2-115-67.1-157zm-157 341.6c-33.2 0-65.7-8.9-94-25.7l-6.7-4-69.8 18.3L72 359.2l-4.4-7c-18.5-29.4-28.2-63.3-28.2-98.2 0-101.7 82.8-184.5 184.6-184.5 49.3 0 95.6 19.2 130.4 54.1 34.8 34.9 56.2 81.2 56.1 130.5 0 101.8-84.9 184.6-186.6 184.6zm101.2-138.2c-5.5-2.8-32.8-16.2-37.9-18-5.1-1.9-8.8-2.8-12.5 2.8-3.7 5.6-14.3 18-17.6 21.8-3.2 3.7-6.5 4.2-12 1.4-32.6-16.3-54-29.1-75.5-66-5.7-9.8 5.7-9.1 16.3-30.3 1.8-3.7.9-6.9-.5-9.7-1.4-2.8-12.5-30.1-17.1-41.2-4.5-10.8-9.1-9.3-12.5-9.5-3.2-.2-6.9-.2-10.6-.2-3.7 0-9.7 1.4-14.8 6.9-5.1 5.6-19.4 19-19.4 46.3 0 27.3 19.9 53.7 22.6 57.4 2.8 3.7 39.1 59.7 94.8 83.8 35.2 15.2 49 16.5 66.6 13.9 10.7-1.6 32.8-13.4 37.4-26.4 4.6-13 4.6-24.1 3.2-26.4-1.3-2.5-5-3.9-10.5-6.6z"/>
            </svg>
            <p class="fw-bold mb-0">Canal de WhatsApp:</p>
            <p class="mb-0">+34 987 654 321</p>
          </a>
        </div>
      </div>
 <!--      <div class="d-lg-inline mt-4 mb-4 ">
        <img src="insta30.png" alt="" class="me-3">
        <img src="youtube.png" alt="" class="me-3">
        <img src="waa.png" alt="" class="me-3">
        </div> -->
      <p class="  fs-2 text-body text-center  p-3">
        ¿Estás buscando una forma inteligente de obtener productos a precios inmejorables? ¡Estás en el lugar correcto! En TopLotes,
         nos especializamos en la venta de palets de devoluciones de Amazon, ofreciéndote una oportunidad única de adquirir mercancías de
          calidad a <code>precios significativamente reducidos.</code> 
      </p>

      <div class="d-inline-flex gap-2 mb-4 mt-4">
        <button [routerLink]="['/body']" routerLinkActive="router-link-active"  class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill" type="button">
         Ver tienda
        </button>
        <button [routerLink]="['/about']" class="btn btn-outline-secondary btn-lg px-4 rounded-pill" type="button">
         Sobre nosotros
        </button>
        
      </div><br><br><br>
    </div><br>
  
    <h3 class="text-center">Productos destacados</h3>
    <div class="container text-center">

      <div class="row">
        
        <div  *ngFor="let item of paleDestacado"  class="col-lg-4 col-md-6 mb-4 ">
          <div *ngIf="paleDestacado" (click)="mirarPale(item)" class="card bg " >
            <img 
            [src]="item.vendido ? 'vendido.png' : 'pale.jpg'"
            data-holder-rendered="true"
            style="height: 300px; width: 100%; display: block;"
            alt="Imagen del pale">

            <div class="card-body bg " >
              <h3 class="featurette-heading fw-normal lh-1 mb-3 mt-3">{{item.nombre}} <span class="text-body-secondary"><br>[{{item.productos}} productos]</span></h3>
              <p class="lead">Palé de {{item.nombre}} sin revisar procedente de Amazon Devoluciones</p>
              <p>Precio del pale {{item.precio}} €</p>
              <a
              [routerLink]="item.vendido ? null : ['/pale-details', item.id]"
              class="btn"
              [ngClass]="{
                'btn-primary': !item.vendido,
                'btn-secondary': item.vendido,
                'disabled': item.vendido,
              }"
              [attr.aria-disabled]="item.vendido ? true : null"
              tabindex="-1">
              {{ item.vendido ? 'Pale vendido' : 'Ver contenido' }}
            </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class=" text-center mt-4 mb-5 bg rounded-4">
      <h2 class=" p-5 text-body">Hacemos envíos de productos de devoluciones de Amazon España sin revisar en el estado original en que los usuarios las realizan y las comercializamos a un coste muy bajo, <code>hasta un 80% más baratas que su valor original en Amazon.</code> </h2>
     <div class="row featurette ">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">¡Descubre un mundo de oportunidades! <span class="text-muted">Al suscribirte</span></h2>
        <p class="lead">¡No te pierdas nuestras increíbles ofertas y los últimos lanzamientos! Suscríbete ahora para recibir actualizaciones
           exclusivas directamente en tu bandeja de entrada. Sé el primero en conocer nuestras promociones especiales y nuevos artículos. 
           ¡Únete a nuestra comunidad y disfruta de beneficios exclusivos!</p>

           <p class="lead">te garantizas acceso prioritario a nuestras ofertas más impresionantes y a los productos más innovadores.
             Imagina ser el primero en enterarte de descuentos imperdibles y de las últimas novedades que revolucionarán tu día a día. 
             ¡No dejes que nada se te escape!</p>
             <p class="lead"><code>¡Suscríbete ahora y recibe un 10% de descuento en tu primera compra!</code></p>
             <button [routerLink]="['/subcribe']" class="btn btn-primary btn-lg ">Suscribe</button>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="intro.png"  class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500"  data-holder-rendered="true" style="width: 500px; height: 500px;">
      </div>
    </div>
    </div>  
  </div>