<div class="container">
    <div class="mt-1 text-center  rounded-4 bg">
      <h1 class="text-body-emphasis mt-3">¡Bienvenido a PaletDirecto!</h1>
 <!--      <div class="d-lg-inline mt-4 mb-4 ">
        <img src="insta30.png" alt="" class="me-3">
        <img src="youtube.png" alt="" class="me-3">
        <img src="waa.png" alt="" class="me-3">
        </div> -->
      <p class="  fs-2 text-body text-center  p-3">
        ¿Estás buscando una forma inteligente de obtener productos a precios inmejorables? ¡Estás en el lugar correcto! En PaletDirecto,
         nos especializamos en la venta de palets de devoluciones de Amazon, ofreciéndote una oportunidad única de adquirir mercancías de
          calidad a <code>precios significativamente reducidos.</code> 
      </p>

      <div class="d-inline-flex gap-2 mb-4 mt-4">
        <button [routerLink]="['/body']" routerLinkActive="router-link-active"  class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill" type="button">
         Ver tienda
        </button>
        <button [routerLink]="['/about']" class="btn btn-outline-secondary btn-lg px-4 rounded-pill" type="button">
         Sobre nosotros
        </button>
        
      </div><br><br><br>
    </div><br>
  
    <h3 class="text-center">Productos destacados</h3>
    <div class="container text-center">

      <div class="row">
        
        <div  *ngFor="let item of paleDestacado"  class="col-lg-4 col-md-6 mb-4 ">
          <div *ngIf="paleDestacado" (click)="mirarPale(item)" class="card bg " >
            <img 
            [src]="item.vendido ? 'vendido.png' : 'pale.jpg'"
            data-holder-rendered="true"
            style="height: 300px; width: 100%; display: block;"
            alt="Imagen del pale">

            <div class="card-body bg " >
              <h3 class="featurette-heading fw-normal lh-1 mb-3 mt-3">{{item.nombre}} <span class="text-body-secondary"><br>[{{item.productos}} productos]</span></h3>
              <p class="lead">Palé de {{item.nombre}} sin revisar procedente de Amazon Devoluciones</p>
              <p>Precio del pale {{item.precio}} €</p>
              <a
              [routerLink]="item.vendido ? null : ['/pale-details', item.id]"
              class="btn"
              [ngClass]="{
                'btn-primary': !item.vendido,
                'btn-secondary': item.vendido,
                'disabled': item.vendido,
              }"
              [attr.aria-disabled]="item.vendido ? true : null"
              tabindex="-1">
              {{ item.vendido ? 'Pale vendido' : 'Ver contenido' }}
            </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class=" text-center mt-4 mb-5 bg rounded-4">
      <h2 class=" p-5 text-body">Hacemos envíos de productos de devoluciones de Amazon España sin revisar en el estado original en que los usuarios las realizan y las comercializamos a un coste muy bajo, <code>hasta un 80% más baratas que su valor original en Amazon.</code> </h2>
     <div class="row featurette ">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">¡Descubre un mundo de oportunidades! <span class="text-muted">Al suscribirte</span></h2>
        <p class="lead">¡No te pierdas nuestras increíbles ofertas y los últimos lanzamientos! Suscríbete ahora para recibir actualizaciones
           exclusivas directamente en tu bandeja de entrada. Sé el primero en conocer nuestras promociones especiales y nuevos artículos. 
           ¡Únete a nuestra comunidad y disfruta de beneficios exclusivos!</p>

           <p class="lead">te garantizas acceso prioritario a nuestras ofertas más impresionantes y a los productos más innovadores.
             Imagina ser el primero en enterarte de descuentos imperdibles y de las últimas novedades que revolucionarán tu día a día. 
             ¡No dejes que nada se te escape!</p>
             <p class="lead"><code>¡Suscríbete ahora y recibe un 10% de descuento en tu primera compra!</code></p>
             <button [routerLink]="['/subcribe']" class="btn btn-primary btn-lg ">Suscribe</button>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="intro.png"  class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500"  data-holder-rendered="true" style="width: 500px; height: 500px;">
      </div>
    </div>
    </div>  
  </div>