<section class="bg-light py-5">
    <div class="container">
      <h2 class="text-center mb-4">¡Suscríbete a Nuestras Ofertas Exclusivas!</h2>
      <p class="text-center">Descubre un mundo de oportunidades al acceder a descuentos increíbles y novedades revolucionarias. ¡No te pierdas nuestras promociones especiales!</p>
      
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="card shadow-sm">
            <div class="card-body">
              <h5 class="card-title text-center">¡Únete a Nuestra Comunidad!</h5>
              <p class="card-text text-center">Al suscribirte, recibirás un <strong>10% de descuento en tu primera compra</strong> y acceso prioritario a nuestras ofertas más impresionantes.</p>
              <form id="subscribe-form">
                <div class="form-group">
                  <label for="email" class="form-label">Tu correo electrónico:</label>
                  <input type="email" class="form-control" id="email" placeholder="ejemplo@correo.com" required>
                </div>
                <div class="text-center mt-3">
                  <button type="submit" class="btn btn-primary">Suscribirme</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>


      <p class="text-center mt-5">
        Si tienes alguna duda con la forma de pago o podemos ayudarte con alguna consulta, no dudes en contactar con nosotros en nuestra sección de contacto o enviándonos un mensaje por WhatsApp. 
        <br><br>
        <a href="https://wa.me/34123456789" class="btn btn-success" target="_blank">
          Enviar mensaje por WhatsApp
        </a>
      </p>
    </div>
  </section>