

.cookie-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cookie-modal {
  background-color: #e7f3f7;
  padding: 30px;
  border-radius: 10px;
  width: 90%;
  max-width: 800px;
  height: 200px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.cookie-modal h3 {
  margin-bottom: 10px;
}

.cookie-modal p {
  font-size: 14px;
  margin-bottom: 20px;
}

.cookie-modal button {
  padding: 10px 20px;
  background-color: #0078d4;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}