.bg-custom {


  background: linear-gradient(to bottom right, #B3E5FC, #FFFFFF);
   
 }



 .text {
  font-family: "Montserrat", sans-serif;
 
}


@media (max-width: 600px) {
  .text {
    font-size: 0.9rem; 
    line-height: 1.3; 
  }
}